<web-app xmlns="https://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://xmlns.jcp.org/xml/ns/javaee https://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
<!--  コンテキストルートのウェルカムページを設定  -->

<welcome-file-list>
<welcome-file>scoremanager.Login.action</welcome-file>
</welcome-file-list>

<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>/scoremanager.LoginAction</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/JSPFiles/login.action</url-pattern>
</servlet-mapping>

</web-app>